.shell {
    position:relative;
    top: -40px;
}

.labelContent {
    position:relative;
    z-index:100;
    text-align: center;
    top: -35px;
}

.main {
    background-color: #F6FF00;
    padding:0px 25px 10px 25px;
    border-radius: 10px;
    text-align: center;
}

.labelContent > button {
    margin: 15px;
    background-color: black;
    font-family: inherit;
    color:white;
    font-size: 13px;
    text-transform: uppercase;
    padding:10px 15px;
    border-radius: 10px;
    border:0;
}
.routeName {
    font-family: inherit;
    font-size:26px;
    margin-bottom: 20px;
}
.input {
    width: 100%;
  max-width: 300px;
  padding: 12px 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  background-color: white;
  color: black;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin-bottom:20px;
}
input.input::placeholder {
    color: black;
    opacity: 0.6;
  }