.map {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}
.leaflet-container {
  background: black;
 
}
.leaflet-tile-pane {
  filter: grayscale(1) brightness(0.3);
}
