    .container {
      display: flex;
      align-items: center;
      font-weight: 'bold';
      margin-right: 10px;
    }

    .icon {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }

    .text {
      line-height: 30px;
      color: #fff;
      font-size: 20px;
      font-weight: 800;
    }