.main {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width:100%;
}

.trackingLabel {
    animation: blink-animation 1s steps(2, start) infinite;
    background-color: #F6FF00;
    padding:5px;
    border-radius: 8px;
    font-family: inherit;
    color: black;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }