.bottomPanel {
    position: absolute;
    display:flex;
    justify-content: space-between;
    width:100%;
    padding:20px;
    bottom:10px;
}

.trackingLabel {
    animation: blink-animation 1s steps(2, start) infinite;
    background-color: #F6FF00;
    padding:5px;
    border-radius: 8px;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-align: center;
  }
  
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }